# Core backend
fastapi
uvicorn
python-multipart  # for file uploads

# Embeddings and vector DB
faiss-cpu
sentence-transformers
openai


# Data processing
pandas
numpy
pdfplumber
docx2txt
python-magic
python-docx 
PyPDF2 
nltk

# Async handling
asyncio==3.4.3

# Optional frontend
streamlit==1.28.0

# Deployment / Docker / server
gunicorn==22.2.0
uvloop==0.17.0
jinja2==3.1.2   # needed if frontend templates used

# NLP / text processing enhancements
nltk==3.8.1
spacy==3.6.1
transformers==4.34.0
tqdm==4.66.0  # for progress bars during preprocessing

#Retrieval
faiss-cpu==1.7.4